@headerHeight: 50px;
#header {
  width: 100%;
  //   height: @headerHeight;
  background-color: #333;
  padding: 0 50px;
  box-sizing: border-box;
  margin: 0;
}
.logo {
  .myFlex();
  height: @headerHeight;
  margin-right: 20px;
  padding: 5px 0px !important;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  img {
    height: 100%;
  }
}
.logo:hover {
  opacity: 0.8;
  color: #fff !important;
  text-decoration: none !important;
}
.headerLeft {
  .myFlex(flex-start);
}
.headerRight {
  .myFlex(flex-end);
}
.headerLink {
  .myFlex();
  height: @headerHeight;
  padding: 0 12px;
  color: #fff;
  font-size: 14px;
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}
.headerLinkActive {
  background-color: rgba(255, 255, 255, 0.3);
}
.headerLink:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff !important;
  text-decoration: none !important;
}
.login {
  .myFlex();
  width: 35px;
  height: 35px;
  padding: 0;
  margin-left: 10px;
  transition: all 0.5s;
  cursor: pointer;
  background-color: #fff;
  font-size: 14px;
  border-radius: 5px;
  img {
    height: 100%;
    border-radius: 5px;
  }
}
.myMenuItem {
  cursor: initial !important;
  padding: 8px 0px !important;
}
.myMenuItem:hover {
  background-color: #fff !important;
}
.personalCardBtn {
  cursor: pointer;
  transition: 0.3s;
}
.personalCardBtn:hover {
  color: #888;
}
.myFlex(@justifyContent: center, @alignItems: center) {
  display: flex;
  justify-content: @justifyContent;
  align-items: @alignItems;
}
